<h1>Wish Saver</h1>

<h3>Use this application to save a list of your wishes</h3>

<ul>
    {{#each wishes}}
    <li>
        <p> Wish ID Number: {{this.id}}</p>
        <p> Wish: {{this.wish}}</p>
    </li>
    {{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="wishes"></textarea>

	<button type="submit">Submit</button>
</form>